/* 
@font-face {
  font-family: "Noto Serif SC";
  src: url("/font/NotoSerifSC-Bold.woff2") format("woff2"),
       url("/font/NotoSerifSC-Bold.woff") format("woff"),
       url("/font/NotoSerifSC-Bold.ttf") format("truetype"),
       url("/font/NotoSerifSC-Bold.eot") format("embedded-opentype"),
       url("/font/NotoSerifSC-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif SC";
  src: url("/font/NotoSerifSC-Medium.woff2") format("woff2"),
       url("/font/NotoSerifSC-Medium.woff") format("woff"),
       url("/font/NotoSerifSC-Medium.ttf") format("truetype"),
       url("/font/NotoSerifSC-Medium.eot") format("embedded-opentype"),
       url("/font/NotoSerifSC-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif SC";
  src: url("/font/NotoSerifSC-Regular.woff2") format("woff2"),
       url("/font/NotoSerifSC-Regular.woff") format("woff"),
       url("/font/NotoSerifSC-Regular.ttf") format("truetype"),
       url("/font/NotoSerifSC-Regular.eot") format("embedded-opentype"),
       url("/font/NotoSerifSC-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif SC";
  src: url("/font/NotoSerifSC-SemiBold.woff2") format("woff2"),
       url("/font/NotoSerifSC-SemiBold.woff") format("woff"),
       url("/font/NotoSerifSC-SemiBold.ttf") format("truetype"),
       url("/font/NotoSerifSC-SemiBold.eot") format("embedded-opentype"),
       url("/font/NotoSerifSC-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
} */