html,
body {
	font: 12px Calibri, "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow-x: hidden;
	width: 800px;
}
body {
	margin-bottom: 20px;
}
code {
	font-size: 11px;
}
*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
	margin-top: 10px;
}
h1 {
	border-bottom: 1px solid #2d7091;
	font-size: 30px;
	line-height: 36px;
	margin: 20px 0 10px;
	padding-bottom: 10px;
}
.help-icon {
	margin: 30px 2px 0;
}
input[type="range"] {
	background: #E0E0E0;
	height: 5px;
	-webkit-appearance: none;
}
.uk-grid + .uk-grid {
	margin-top: 15px;
}
.uk-tab {
	margin-bottom: 15px;
}
.uk-tab > li {
	font-size: 12px;
}
.uk-tab > li.uk-active {
	border-bottom: 1px solid #FFF;
	position: relative;
}
.uk-tab > li > a {
	padding: 8px;
}
.uk-tab>li:not(.uk-active)>a:hover, .uk-tab>li:not(.uk-active)>a:focus, .uk-tab>li.uk-open:not(.uk-active)>a {
	padding-bottom: 8px;
}
.uk-tab>li:nth-child(n+2)>a {
	margin: 0;
}
.uk-panel-box-white {
	background: #FFF;
}
.uk-form .uk-form-label {
	display: block;
	margin-bottom: 5px;
	font-weight: 700;
}

.CSSGeneratorExample {
	background: #FFF;
	padding: 20px;
	text-align: center;
}
.CSSGeneratorExample.nopadding {
	padding: 0;
}

/**
 * Form elements
 */
.CSSGeneratorHelper {
	background: #FFF;
	border: 1px solid #CCC;
	display: inline-block;
	margin-left: 10px;
	padding: 5px;
	text-align: center;
	width: 50px;
}
.CSSTextGradientRemoveStop {
	margin-left: 10px;
}
.transition-form select {
	margin-right: 10px;
	width: 100px;
}

/**
 * Individually styled elements for the demos
 */
#CSSGeneratorTextShadow {
	color: #000;
	font: 30px Calibri, Arial, Tahoma, sans-serif;
	line-height: 150px;
	text-shadow: 3px 3px 3px rgba(0,0,0,1);
}
.demo-bg {
	background: #FFF;
}
#CSSGeneratorBoxShadow,
#CSSGeneratorBorderRadius {
	color: #000;
	font: 30px Calibri, Arial, Tahoma, sans-serif;
	height: 150px;
}
#CSSGeneratorBorderRadius,
#CSSGeneratorLinearGradient,
#CSSGeneratorStripedGradient,
#CSSGeneratorTransitions {
	height: 200px;
}
#CSSGeneratorRadialGradient {
	height: 250px;
}
	#CSSGeneratorBoxShadow > #CSSGeneratorBoxShadowBox,
	#CSSGeneratorBorderRadius > #CSSGeneratorBorderRadiusBox,
	#CSSGeneratorTransforms > #CSSGeneratorTransformsBox {
		background: #CCC;
		margin: 20px auto;
		height: 120px;
		width: 200px;
	}
	#CSSGeneratorBorderRadius > #CSSGeneratorBorderRadiusBox {
		border: 2px solid #000;
		margin: 5px auto;
		height: 200px;
	}
#CSSGeneratorLinearGradient {
	background: -webkit-linear-gradient(0deg, #1301FE 0%, #F4F60C 100%);
}
#CSSGeneratorStripedGradient {
	background: repeating-linear-gradient(45deg,#606dbc,#606dbc 10px,#465298 10px,#465298 20px);
}
#CSSGeneratorArrow {
	height: 200px;
}
#CSSGeneratorTransitionBox {
	background: #CCC;
	font: 20px Calibri, Arial, Tahoma, sans-serif;
	height: 100px;
	line-height: 100px;
	position: relative;
	width: 150px;
}

/**
 * Modal window
 */
#help-modal .uk-modal-dialog,
#options-modal .uk-modal-dialog {
	width: 750px;
}

/**
 * Fancy labels
 */
.label-checkbox,
.label-radio {
	cursor: pointer;
	display: block;
	font-size: 18px;
	min-height: 30px;
	line-height: 22px;
	padding: 3px 0 0 40px;
}
.label-radio {
	background: url(../img/labels/radio-off.png) 5px no-repeat;
}
.label-checkbox {
	background: url(../img/labels/check-off.png) 5px no-repeat;
}
label.r_on {
	background: url(../img/labels/radio-on.png) 5px no-repeat;
}
label.c_on {
	background: url(../img/labels/check-on.png) 5px no-repeat;
}
.label-checkbox input,
.label-radio input {
	left: -9999px;
	position: absolute;
}
.label-checkbox.small {
	background-position: left 2px;
}

/**
 * Scrollbars, in case they appear
 */
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-track-piece {
	background-color: transparent;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #EEE;
    border: 2px solid #EEE;
	cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #666;
	border-radius: 4px;
	height: 50px;
}