.card-widget.card-weather
  .card-content
    .item-headline
      i.fas.fa-cloud-sun(aria-hidden="true")
      span= _p('aside.card_weather')
    #weather-v2-plugin-standard
script.
  WIDGET = {
  CONFIG: {
  "layout": 2,
  "background": 5,
  "dataColor": "4A4A4A",
  "borderRadius": 5,
  "key": "KRB6wriWZN"
  }
  }
script(src='https://apip.weatherdt.com/standard/static/js/weather-standard-common.js?v=2.0')
