@charset "UTF-8";

@font-face {
  font-family: "NotoSerifSC-SemiBold";
  src: url("NotoSerifSC-SemiBold.woff2") format("woff2"),
       url("NotoSerifSC-SemiBold.woff") format("woff"),
       url("NotoSerifSC-SemiBold.ttf") format("truetype"),
       url("NotoSerifSC-SemiBold.eot") format("embedded-opentype"),
       url("NotoSerifSC-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}